<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>create account</h3>
    <form action="confim" method="POST">   
        <label>Username</label>
        <input name="uname" placeholder="your name"><br><br>
        <label>Password</label>
        <input name="pword" placeholder="your Password"><br><br>
        <button>Submit</button>
    </form>
    {% if message %}
        <h3>{{ message  }}</h3>
    {% endif %}

</body>
</html>