<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome {{user_name}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ab error possimus, autem quas eum vel esse quasi pariatur cupiditate voluptate earum deleniti est aut, provident excepturi commodi perspiciatis deserunt.</p>
    <h3>This Fruits Name: {{f_name[0]}}</h3>
    <h3>My age is : {{p_data["age"]}}</h3>


</body>
</html>